on: pull_request
name: test
jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: submodule settings
        uses: actions/checkout@v2
        with:
          repository: taroshun32/todoapp-openapi
          path: todoapp-openapi
          ssh-key: ${{ secrets.DEPLOY_KEY_OPENAPI }}

      - name: submodule sync
        run: |
          git submodule sync
          git submodule update --init --force
      - name: shutdown ubuntu MySql
        run: sudo service mysql stop

      - name: set up mysql
        uses: ./.github/actions/mysql

      - name: Set up JDK 11
        uses: joschi/setup-jdk@v1
        with:
          java-version: 11

      - name: Cache gradle
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: test
        run: ./gradlew test
